body {
  margin: 0;
  color: #fff;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
}

.card {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#f6d553, #fcd94d);
  transition: all 0.5s;
}

.card:hover {
  background-image: linear-gradient(#f6d553, #8c60c5);
}
.card .img {
  width: 150px;
  height: 200px;
  background-image: url("./imagens/coke.png");
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  position: relative;
  opacity: 1;
}

.card:hover .img {
  opacity: 0.4;
}

.card span {
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  display: none;
  transition: all 0.5s;
  position: absolute;
  z-index: 2;
}

.card:hover span {
  font-size: 35px;
  display: block;
}

.card .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all 0.5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content p {
  margin: 0;
}

.card .content .title {
  font-size: 20px;
  font-weight: 600;
}

.card .content .desc {
  font-size: 14px;
  font-weight: 100;
  opacity: 0.8;
  margin-top: 8px;
}
