* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-image: linear-gradient(to right, #4444, #f0f0a5);
}

#img {
  height: 300px;
}

#corpo {
  font-family: "ABeeZee", sans-serif;
  font-size: 15pt;
  color: white;
}

#titulo {
  color: #fff;
}

#section {
  display: flex;
  background-color: #ea1d2c;
  height: 300px;
  position: relative;
}

a {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
  margin: 50px;
  font-weight: bold;
  box-shadow: 2px 2px 10px #222;
}

a:hover {
  background-color: #333;
  color: #fff;
}

#titulo {
  margin: 15px;
}

#corpo {
  margin: 15px;
}

.container {
  margin-right: 25%;
}
